<%- include('header') %>

    <br>
    <nav class="navbar navbar-light bg-secondary">
        <h2 class="navbar-brand text-white"><%- vaga.titulo %></h2>
    </nav>
    <div>
        <br>
        <h3><%- vaga.descricao %></h3>
    </div>
    
<%- include('footer') %>
